.circle {
    height: 50px;
    width: 50px;
    
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
  }

#coordinate-display {
  width: 1920px;
  height: 100vh;
  margin:0px;
  
  position: absolute;
  overflow: hidden;
}
body{
  margin:0px;
  overflow: hidden;
  max-height: 100vh;
}