<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    
    
</head>

<body>
    
    <div class="center">
    <button>
        <a class="rock-salt-regular" href="/delall">DELETE ALL DOTS</a>
    </button>
    <img src="https://media.istockphoto.com/id/1447143270/vector/great-job-sign-on-cut-ribbon-confetti-background.jpg?s=612x612&w=0&k=20&c=l8pn7sZizxxWVHTdMxuL0jqWV8ZmsDoe0KibJjVfzNE=">
    </div>
    
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>



